.container-dratini {
  display: flex;
}

nav a {
  background-color: #3282b8;
  padding: 15px;
  width: 100%;
  text-align: center;
  color: white;
  border: 1px solid #0f4c75;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:hover {
  background-color: rgb(50, 130, 184, 0.8);
  cursor: pointer;
}

nav a.active {
  text-shadow: 0 0 10px #165781;
  color: rgb(252, 104, 104);
}
