@import url("https://fonts.googleapis.com/css?family=Neucha&display=swap");

.container-dratini {
  display: flex;
}

nav a {
  background-color: #3282b8;
  padding: 15px;
  width: 100%;
  text-align: center;
  font-family: "Neucha", cursive;
  color: white;
  border: 1px solid #0f4c75;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #ffffff;
  text-decoration: none;
}

nav a:hover {
  background-color: rgb(50, 130, 184, 0.8);
  cursor: pointer;
}
