.container-dratini {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  box-sizing: unset;
}

.container-dratini .card-cuadro {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  width: 260px;
  height: 260px;
  margin: 10px;
  border: 2px solid rgba(23, 23, 24, 0.7);
  box-shadow: -1px 8px 10px -1px #0f4c75;
  border-radius: 2em;
}

.container-dratini .card-cuadro:hover {
}

.container-dratini .card-cuadro header {
  border-radius: 2em 2em 0px 0px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  color: whitesmoke;
  background-color: #0f4c75;
}

.container-dratini .card-cuadro .info-auto {
  overflow: hidden;
  top: 214px;
  background-color: whitesmoke;
  color: black;
  width: 260px;
  height: 226px;
  border-radius: 0px 0px 2em 2em;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
  display: none;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-name: slide-text;
}

@keyframes slide-text {
  0% {
    opacity: 0;
  }

  100% {
    opactiy: 1;
  }
}

.container-dratini .card-cuadro img {
  position: absolute;
  width: 250px;
  margin: 50px;
  background: linear-gradient(
    to bottom,
    whitesmoke 0%,
    #a0ceed 45%,
    whitesmoke 100%
  );
  border-radius: 1em;
}
